<a href="javascript:(function(){window.location = 'http://dev.sceenery.com:8888/sharePage.html?location=' + window.location}())">sceeneit</a>
<!--<a href="javascript:(function(){var jsCode = document.createElement('script');
    jsCode.setAttribute('src', 'http://dev.sceenery.com:8080/js/bookmarklet.js');
  document.body.appendChild(jsCode);
}())">Sceene It</a>-->


