<!DOCTYPE HTML>
<html ng-app xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="http://masonry.desandro.com/jquery.masonry.min.js"></script>
<head>
    <title>Sceenery Prototype</title>
    <script>
    </script>
</head>
<body>
<div id="main" ng-controller="sceenery">
    <div class="modal content-modal hide fade"
         id="signInModal"
         style="display: none"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <!-- <div class="modal-header">
        </div>-->
        <div class="modal-body">
            <form class="modal-form">
                <input id="emailLogin" class="span3" type="text" value="email">
                <input id="passwordLogin" class="span3" type="password" value="password">
                <a class="btn btn-primary grab-btn" data-dismiss="modal" ng-click="doLogin()">Sign In</a>
            </form>

        </div>
    </div>
<div id="header" >
    <div id="searchContainer" class="main-search">

        <form class="form-inline">
            <div class="controls">

                <div>
                    <a class="sticker logo">sceenery</a>
                    <input id="mainSearch" class="span3" type="text" data-provide="typeahead">
                    <button class="btn" ng-click="getSceenes()">
                        <i class="icon-search">
                        </i>
                    </button>
                    <a class="basicBtn getButton" id="getBookMarkButton" href="#getModal"  data-toggle="modal">get the bookmarklet</a>
                    <a class="basicBtn" href="#signInModal"  data-toggle="modal">sign in</a>
                </div>

            </div>
        </form>
    </div>

</div>
    <div id="categoryFilterContainer">
        <div id="titleButtonHolder">

            <a id="titleField" href="#" class="titleButton">Trending</a><a href="#" id="totalFilterBtn" class="sticker cat-sticker total">0</a>
            <a class="categoryButton">Gossip</a><a href="#" id="gossipFilterBtn" class="sticker cat-sticker orange">{{gossipCount}}</a>
            <a class="categoryButton">For Sale</a><a href="#" id="forsaleFilterBtn" class="sticker cat-sticker red">{{saleCount}}</a>
            <a class="categoryButton">Wardrobe</a><a href="#" id="wardrobeFilterBtn" class="sticker cat-sticker brown">{{wardrobeCount}}</a>
            <a class="categoryButton">Promo</a><a href="#" id="promoFilterBtn" class="sticker cat-sticker green">{{promoCount}}</a>
            <a class="categoryButton">Fan Fiction</a><a href="#" id="fanFilterBtn" class="sticker cat-sticker yellow">{{fictionCount}}</a>
            <a class="categoryButton">Cast</a><a href="#" id="castFilterBtn" class="sticker cat-sticker blue">{{castCount}}</a>
            <a class="categoryButton">Production Stills</a><a href="#" id="prodFilterBtn" class="sticker cat-sticker orangred">{{prodCount}}</a>
            <a href="#" id="startConversationBtn" class="sticker cat-sticker white">start a conversation</a>




        </div>
    </div>

    <div id="container" class="masonry transitions-enabled clearfix">

       <!-- <ul>
            <li ng-repeat="sceene in sceenes">-->


                    <div class="box masonry-brick col2 feedItem" id="{{sceene.src}}" ng-repeat="sceene in sceenes">
                        <!--<a href="#" id="stickLeft" ng-class="getClass(sceene)">{{catName}}</a>-->
                        <div class="sceene-header">
                            <div ng-class="getClass(sceene)">{{catName}}</div>
                        </div>
                        <a href="#contentModal"
                           enabled="false"
                           role="button"
                           data-toggle="modal" ng-click="assignCurrentItem(sceene.contentSrc)">
                            <img class="img-polaroid feed-image" src="{{sceene.contentSrc}}" />
                         </a>
                       <!-- <a href="#" id="stick" class="sticker sticker-curate">   Curate</a>-->
                        <div class="sceene-meta">
                            <p class="comment">{{sceene.contentDescription}}</p>
                        </div>
                        <div class="origin">
                            <p>From : <a href="{{sceene.contentSrc}}">{{sceene.contentSrc}}</a></p>
                        </div>

                    </div>

        </div>

        <!--</li></ul>-->
</div>
    <div class="modal content-modal"
         id="contentModal"
         style="display: none"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <img class="img-polaroid" id="contentModalImage"/>
    </div>

<div class="modal content-modal hide fade"
     id="getModal"
     style="display: none"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
   <!-- <div class="modal-header">
    </div>-->
    <div class="modal-body">
        <div id="signUpForm">
            <form class="modal-form">
                <p class="pagination-centered">1.</p>
                <input id="email" class="span3" type="text" value="email">
                <input id="password" class="span3" type="password" value="password">
                <button class="btn btn-primary grab-btn" id="signUpBtn">Grab my bookmarklet</button>
            </form>
        </div>

        <div id="addBookmark" class="pagination-centered">
            <p>2.</p>
            <p>Awesome, now drag this  <i class="icon-arrow-right"></i> <a href="javascript:(function(){window.location = 'http://dev.sceenery.com:8888/sharePage.html?location=' + window.location}())" id="bookmarkComp">Sceene It!</a>  <i class="icon-arrow-left"></i> to your bookmarks bar!
        </div>
        <div id="startSceeningMessage" class="pagination-centered">
            <p>3.</p>
            <p>You're done!  Now head to your favorite site and start sceening!</p>
            <p>
                <a class="btn btn-primary modalCloseBtn" id="closeButton" data-dismiss="modal">Close</a>
            </p>
        </div>

    </div>
</div>



    <script src="http://code.angularjs.org/angular-1.0.1.min.js" ng-autobind></script>
    <script type="text/javascript" src="http://masonry.desandro.com/js/modernizr-transitions.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
<link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.css"/>
<link  rel="stylesheet" href="assets/css/styles.css" type="text/css" media="screen"/>
<script type="text/javascript" src="js/sceenery.js"></script>
</body>
</html>