<!DOCTYPE HTML>
<html ng-app xmlns="http://www.w3.org/1999/html">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
<script>
</script>
<head>
    <title>Share your scene</title>
</head>
<body>
<div id="mainContent" ng-controller="shareController">

    <a href="#myModal" ng-repeat="item in items" enabled="false" id="{{item.src}}" role="button" data-toggle="modal">
        <img class="box masonry-brick" src="{{item.src}}" ng-click="assignCurrentItem(item)"/>
    </a>
    <!--<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>-->
<div id="shareItems"></div>
    <div class="modal share-modal"
         id="myModal"
         style="display: none"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-body">
            <legend>Share your scene</legend>
            <img src="{{currentItemSrc}}"/>
        </div>
        <form class="share-form">
            <div class="category-selectors">

               <!--<ul class="nav nav-header" ng-repeat="sticker in stickers">-->
                <div class="nav">
                    <label>add a sticker?</label>
                   <a href="#" ng-repeat="sticker in stickers" ng-class="getClass(sticker)" ng-click="assignSticker(sticker)">{{sticker[0]}}</a>
                </div>
                <!--</ul>-->
            </div>

            <div id="followTitles" class="follow-cont">
                <label>titles you're following:</label>
            <div class="nav nav-pills">
                <a class="following" ng-repeat="follow in following" ng-click="assignTitle(follow)">{{follow}}</a>
            </div>

            </div>
            <input type="text" id="titleField" placeholder="title? (e.g. 'Batman')" data-provide="typeahead">

            <input type="text" class="input-block-level" id="descField" placeholder="add a comment?">
        </form>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" ng-click="onSubmit()">Share Scene</button>
        </div>
    </div>
</div>


<script src="http://code.angularjs.org/angular-1.0.1.min.js" ng-autobind></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
<link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.css"/>
<link  rel="stylesheet" href="assets/css/styles.css" type="text/css" media="screen"/>
<script src="js/shareController.js"></script>
</body>
</html>