$panel-width: 300px;
$panel-height: 250px;
$panel-background-color: #CCC;
$header-background-color: #CCC;
$panel-border-width: 8px;
$title-width: 300px;
$header-width: 100%;
$header-height: 50px;
$arrow-right-margin: 200px;
$panel-padding:3px;
$panel-min-width: 100px;

@function pos-vertical-center($parentHeight, $buttonHeight){
 @return $parentHeight/2 - $buttonHeight/2;
}

@function icon-pos-panel($parentHeight, $paddingBottom){
 @return $parentHeight - $paddingBottom;
}

ul{
  list-style-type: none;
  margin: auto;
}
li{
  //float: left;
}
a:hover{
  text-decoration: none;
}

i{

}

p{
  margin-bottom: 20px;
}

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;
}

.box {
  margin: 0px;
  padding: 0px;
  background: #D8D5D2;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.item {
  width: 340px;
  margin: 5px;
  float: left;
}

.panel{
  width: $panel-width;
  height: $panel-height - 75px;
  max-width: $panel-width;
  max-height: $panel-height;
  background-color: $panel-background-color;
  border-width: $panel-border-width;
  border-color: #bbd8e9;
  padding: $panel-padding;
  margin: 5px;
  /*padding-top: $panel-padding;
  padding-left: $panel-padding;
  padding-right: $panel-padding;
  padding-bottom: $panel-padding;
  */
  //margin-left: $panel-padding;
  //margin-bottom: $panel-padding;
  //margin-right: $panel-padding;

}

img{
  //width: 100%;
  //margin-top: auto;
  //margin-bottom: auto;
  //min-height: $panel-height - 75px;
  //min-width: $panel-width;
  border: 2px solid $header-background-color;
}
.panel:hover{

}



.main-search{
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  text-align: center;

}

p.main-logo{
  position: relative;
  text-align: center;
  user-select: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: pos-vertical-center($header-height, 50px);
  font-size: 24px;
  color: #ffffff;
  text-shadow: 2px 2px #000;;
}

.main-header-text{
  font-size: 16px;
}

.btn-login{
  position: absolute;
  top: 45px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  right: 10%;
}

.category-header-arrow{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid red;
    border-bottom: 10px solid transparent;
    margin-left: $arrow-right-margin;
}

.category-header-rect{
    width: $arrow-right-margin;
    height: 20px;
    background: red;
    color: white;
    border-bottom-right-radius: 19px;
    border-top-right-radius: 19px;
}

.menu-text{
  padding-left: 20px;
}
.multi-column {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;}

.panel-menu
{
  margin-top: 50px;
}

.panel-menu-btn{
  color: black;
  margin-top: 100px;
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-decoration: none;
}

.panel-menu-btn:hover{
  text-decoration: none;
  background-color: #555555;
  color: white;
}



.panel-menu:hover{
  display:block;
  color: white;

}

.share-modal{
  top: 35%;
  border: 0px solid #999;
  border: 0px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.content-modal{
  top: 50%;
}

.content-img{
  margin-right: auto;
  margin-left: auto;
}

.share-form{
  margin-left: 15px;
  margin-right: 15px;
}

.input-append button.add-on {
  height: inherit !important;
}


#header{
  position: fixed;
  z-index: 25;
  width: $header-width;
  height: $header-height;
  background-color: white;
  margin: 0 auto;
}

#categoryNav{
 background: #000000;

}

#container {
  position: absolute;
  top: 83px;
  width: $header-width;
  margin: 0 auto;
}

#myContent {
  -moz-column-count: 6;
  -moz-column-gap: 0px;
  -webkit-column-count: 6;
  -webkit-column-gap: 0px;
  column-count: 6;
  column-gap: 0px;
  width: 1200px;
}

#myContent img{
  display: inline-block;
  width: $panel-width;
  max-width: $panel-width;
  /*margin-bottom: 0px;
  width: 100%;*/
}

#searchContainer{
  position:relative;
  //box-shadow: 3px 3px 4px #000;
  height: 40px;
}

.sticker {
  position: relative;
  right: 0px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  border-color: black;
  border: black solid 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 11px;
  font-color: white;
  margin-left: -10px;
  margin-right: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  color: grey;
  z-index: 20;
}

.sticker-for-sale{
  background-color: yellow;
}
.sticker-gossip{
  background-color: blue;
}

.sticker-wardrobe{
  background-color: green;
}

.sticker-qoutes{
  background-color: black;
}

.sticker-props{
  background-color: tan;
}

.sticker-cast{
  background-color: brown;
}

.following{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
  background-color: white;
  border: gray solid 1px;
  margin: 5px;
  line-height: 36px;
  orphans: 4;
  widows: 0;
}

.basicBtn{
  margin-left: 40px;
  border-radius: 12px;
  border: black solid 1px;
  background-color: white;
  text-decoration: none;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: black;
}

#titleButtonHolder{
  z-index: 11;
  padding-top: 1px;

}

#filterHolder{
  z-index: 20;
  position: absolute;
  left: 200px;
  top: 0px;
  background-color: black;
  height: 50px;
  max-height: 50px;
}
.filterItem{

  padding-left: 10px;
  padding-right: 5px;
  text-decoration: none;
  color: white;
  background-color: #000000;
  font-size: 14px;
  max-height: 50px;

}
.titleButton{
  position: relative;
  padding-left: 20px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  height: 50px;
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  //border: gray solid 1px;
  font-size: 22px;
  //border-right: 1px solid grey;


}

.categoryButton{
  //display: none;
  position: relative;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  height: 50px;
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  //border: gray solid 1px;
  font-size: 18px;
  //border-right: 1px solid grey;


}

.getButton .disabled{
    display: none;
}

.cat-sticker{
  position: relative;
  width: 40px;
  background-color: #ff4500;
  border: orangered solid 5px;
  color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 10px;
  font-size: 11px;
  float: none;
  margin-right: 10px;
  margin-left: 5px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-top: 5px;
}

.arrow-right {
  position: relative;
  margin-top: -34px;
  margin-left: 135px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid white;
}



#getModal{
  min-height: 100px;
}

#contentModal{
  min-height: 200px;
}

.grab-btn{
  position: relative;
  margin-left: 50px;
  bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

#categoryFilterContainer{
  position: absolute;
  top: 50px;
  height: 35px;
  width: 100%;
  padding-top: 5px;
  background-color: black;
}

#addBookmark{
  opacity: .5;
}

#startSceeningMessage{
  opacity: .5;
}

#bookmarkComp{
  border-radius: 12px;
  border: gray solid 8px;
  background-color: white;
  text-decoration: none;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: black;
  font-size: 12;
}

.sticker-curate{
  position: relative;
  width: 50px;
  background-color: white;
  border: white solid 5px;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  font-size: 12px;
  margin-right: 10px;
  //float: right;
  margin-left: -70px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  opacity: .8;

  //padding-right: 10px;

}

.sticker-right{
  display: none;
  position: relative;
  width: 50px;
  background-color: #ff4500;
  border: orangered solid 5px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  font-size: 12px;
  float: left;
  margin-right: -60px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;

  opacity: .8;

}

.sticker-share{
  //display: none;
  position: relative;
  width: 40px;
  background-color: #ff4500;
  border: orangered solid 5px;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 13px;
  font-size: 11px;
  float: left;
  margin-right: 5px;
  margin-left: 5px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-top: 5px;

  opacity: .5;

}

.logo{
  position: relative;
  width: 50px;
  background-color: black;
  border: transparent;
  color: white;
  padding-top: 5px;
  margin-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 16px;
  //float: left;
  margin-left: 100px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  opacity: .8;
}

.orange{
  background-color: orange;
  border-color: orange;
}

.blue{
 background-color: blue;
  border-color: blue;
}

.red{
  background-color: red;
  border-color: red;
}

.yellow{
   background-color: #9acd32;
  border-color: #9acd32;
}

.brown{
  background-color: #a52a2a;
  border-color: brown;
}

.green{
   background-color: green;
  border-color: green;
}

.orangred{
  background-color: #ff4500;
  border-color: #ff4500;
}

.comment-blue{
  background-color: #daa520;
  border-color: #daa520;
}

.white{
  background-color: white;
  border-color: white;
  font-size: 12px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.feedItemHolder{
  //min-width: 400px;
  margin: 20px;
  //border: gray solid 2px;
}

.total{
  background-color: white;
  border-color: white;
  color: black;
}

.feedItem{
  //margin-right: 0px;
  //margin-bottom: 60px;
  //background-color: grey;
  background-color: #f5f5f5;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 15px;
  border: 1px solid grey;
}

.follow-cont{
  margin-top: 80px;
}

.sceene-meta{
  position: relative;
  height: auto;
  width: 100%;
  margin-right: 10px;
  background-color: #f5f5f5;
  padding-left: 0px;
  padding-top: 10px;
}

.comment{
  padding-left: 5px;
  text-overflow: ellipsis; /* will make [...] at the end */
  width: auto; /* change to your preferences */
  white-space: nowrap; /* paragraph to one line */
  overflow:hidden;
}

.origin{
   background-color: white;
  border: 1px solid #CCCCCC;
  height: 20px;
}

.origin p{
  padding-top: 3px;
  padding-left: 5px;
  text-overflow: ellipsis; /* will make [...] at the end */
  width: 150px; /* change to your preferences */
  white-space: nowrap; /* paragraph to one line */
  overflow:hidden;
}

.feed-image{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.sceene-header{
  margin-top: 0px;

  //margin-bottom: -10px;
  position: relative;
  height: 40px;
  width: 100%;
  background-color: #f5f5f5;
}


